@import "tailwindcss";

@theme {
  --color-yape-purple: #7d238c;
  --color-yape-mint: #00c8ad;

  --color-primary: var(--color-yape-purple);
  --color-primary-dark: #6a1b76;
  --color-accent: var(--color-yape-mint);
  --color-accent-dark: #00b39a;
}

body {
  @apply antialiased bg-white text-zinc-900;
}
